<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>343401632167-19vrs7rhhv46l45h4odphos033a50r4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343401632167-19vrs7rhhv46l45h4odphos033a50r4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAs2FVH_HBvgRDUHKaM20lSnPy9YAQbl0c</string>
	<key>GCM_SENDER_ID</key>
	<string>343401632167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amagumolabs.mylife-company</string>
	<key>PROJECT_ID</key>
	<string>mylifecompany-22a77</string>
	<key>STORAGE_BUCKET</key>
	<string>mylifecompany-22a77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343401632167:ios:40599dbe4322c494</string>
	<key>DATABASE_URL</key>
	<string>https://mylifecompany-22a77.firebaseio.com</string>
</dict>
</plist>